html {
  width: 100%;
  height: 50%;
}
body {
  background-image: linear-gradient(
    to right,
    #21a4c1,
    #21a4c1,
    #84c8d7,
    #e5e6e6
  );
  color: rgba(255, 255, 255, 0.81);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.form-group button {
  outline: none;
  background: linear-gradient(to right, #ffd700, #ffa500);
  width: 100%;
  border: 0;
  border-radius: 50px;
  padding: 12px 20px;
  color: #ffffff;
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  line-height: inherit;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 4px rgb(0, 0, 0);
  animation: pulse 1.2s infinite; /* Animación aplicada al botón */
}
.form-group button:hover {
  background: linear-gradient(to right, #21a4c1, #d5f7ff);
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
/* estilo svg */
@keyframes fillHeart {
  0% {
    fill: #ffffff;
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
    fill: #21a4c1;
  }
  100% {
    fill: #c8e0e5 /* #8a1313 */;
    transform: scale(1);
  }
}
.heart-svg {
  animation: fillHeart 10s infinite alternate;
}
/* estilo del titulos aca con estilo  */
.form-header {
  margin: 0 0 40px;
}
.form-header h1 {
  padding: 4px 0;
  color: #ffffff;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
  animation: shine 10s linear infinite;
}
@keyframes shine {
  0% {
    color: #ffffff;
    text-shadow: none;
  }
  50% {
    color: #000000;
    text-shadow: 0 0 8px #ffffff;
  }
  100% {
    color: #ffffff;
    text-shadow: none;
  }
}
/* fin del estilo titulos */
.form {
  z-index: 199;
  position: relative;
  background: #323232;
  width: 600px;
  border-radius: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  margin: 0% auto;
  margin-top: 0% auto;
  overflow: hidden;
  transition: background-color 0.3s ease;
}

.form:hover {
  background-color: #345b8c;
}

/* Agregar elementos decorativos o estilos adicionales según tus preferencias */


/* Botón X para cerrar el formulario */
.form-toggle {
  z-index: 10;
  position: absolute;
  top: 40px;
  right: 40px;
  background: #f55858;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  transform-origin: center;
  transform: rotate(0deg) scale(1);
  opacity: 0;
  cursor: pointer;
  transition: all 0.95s ease;
}

.form-toggle:before,
.form-toggle:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 24px;
  height: 4px;
  background: #ffffff;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease;
}

.form-toggle:before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.form-toggle:after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.form-toggle.visible {
  transform: rotate(360deg) scale(1);
  opacity: 1;
}

/* Efecto hover */
.form-toggle:hover {
  background-color: #e93a3a;
}

/* Efecto de transición */
.form-toggle:hover:before,
.form-toggle:hover:after {
  background-color: #ffffff;
}






.form-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 0 20px;
}
.two .form-group label {
  color: #ffffff; /* letreas del formulari de inicio de sesion */
}
.form-group input {
  outline: none;
  display: block;
  background: #27426b;
  width: 100%;
  border: 0;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 12px 20px;
  color: rgb(255, 0, 0);
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  line-height: inherit;
  transition: 0.3s ease;
}
.two .form-group input {
  color: #ffffff;
}
.two .form-group button {
  background: linear-gradient(to right, #21a4c1, #84c8d7);
  color: #ffffff;
}
/* panel */
.form-panel {
  padding: 60px calc(5% + 60px) 60px 60px;
  box-sizing: border-box;
}
.form-panel.two {
  z-index: 5;
  position: absolute;
  top: 0;
  left: 95%;
  background: #4285f4;
  width: 100%;
  min-height: 100%;
  padding: 60px calc(10% + 60px) 60px 60px;
  transition: 0.3s ease;
  cursor: pointer;
}
.form-panel.two:before,
.form-panel.two:hover {
  left: 93%;
  box-shadow: 0 0 100px rgb(0, 0, 0);
}
.form-panel.two:hover:before,
.form-panel.two:hover:after {
  opacity: 10;
}
.form-panel.two.active {
  left: 10%;
  box-shadow: 0 0 100px rgb(0, 225, 237);
  cursor: default;
}


/* .overlay,
.form-panel.one:before {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  background: #27426b;
  width: 100%;
  height: 100%;
} */

/* .form-group:last-child {
  margin: 0;
} */
/* .form-group label {
  display: block;
  margin: 0 0 10px;
  color: rgba(0, 0, 0, 0.6);
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 0.2em;
} */
/* .two .form-group input:focus {
  color: #ffffff;
}
 */
/* .form-group input:focus {
  color: rgba(241, 0, 0, 0.8);
} */
/* .form-group .form-remember {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0;
  text-transform: none;
} */
/* .form-group .form-remember input[type="checkbox"] {
  display: inline-block;
  width: auto;
  margin: 0 10px 0 0;
} */
/* .form-panel.one:before {
  content: "";
  display: block;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease;
} */

/* .form-panel.one.hidden:before {
  display: block;
  opacity: 1;
  visibility: visible;
} */

/* .form-group .form-recovery {
  color: #f44289;
  font-size: 12px;
  text-decoration: none;
} */
/* .form-panel.two.active:before,
.form-panel.two.active:after {
  opacity: 0;
} */

/* .pen-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 600px;
  margin: 20px auto 100px;
}

.pen-footer a .material-icons {
  width: 12px;
  margin: 0 5px;
  vertical-align: middle;
  font-size: 12px;
} */

/* .cp-fab {
  background: #ffffff !important;
  color: #4285f4 !important;
} */

/* @media screen and (max-width: 768px) {
  .form {
    width: 90%;
    margin: 50px auto;
  }

  .form-panel {
    padding: 30px 25px 30px 10px;
    box-sizing: border-box;
  }
}
 */
