body {
    background-image: linear-gradient(
      -225deg,
      #ffffff 1%,
      #f2f3f7 20%,
      #f2f3f7 10%
    );
  }
thead tr th { 
    position: sticky;
    top: 0;
    z-index: 10;    
    background-color: lightslategrey;
}

tbody tr:hover{
    cursor: pointer;
    background-color: #59a4ff;
    color:white;
}

.table-responsive { 
    
    height:600px;
    overflow-y: scroll;
    background-color: white;
}


.tab-pane{
    padding: 20px;
}