.pequenio:valid {
  width: 100px; /* Estilo para inputs con 1 o más caracteres */
}

.pequenio:valid + label {
  display: none; /* Ocultar etiqueta cuando el input tiene 1 o más caracteres */
}

.pequenio:invalid {
  width: 40px; /* Estilo para inputs vacíos */
}

.pequenio:invalid + label {
  display: inline; /* Mostrar etiqueta cuando el input está vacío */
}

.grande {
  width: 100%; /* Ancho inicial */
  transition: width 0.3s; /* Transición suave al expandirse */
}

.grande.expandir {
  width: calc(100% + 90px); /* Ancho al expandirse en un colspan de 10 */
}

.tabla {
    width:min-content;
    border-collapse: collapse;
}
.tabla th {
    background-color: lightgray;
}

.tabla select {
    width: 100%;
    box-sizing: border-box;
    /* padding: 3px; */
}

.btn-container {
  text-align: center;
  margin-top: 20px;
}


/* esto es para la hoja */
.pdf-page {
  font-family: "DejaVu Sans", "Arial", sans-serif;
}

.pdf-page {
  box-sizing: border-box;
  box-shadow: 0 15px 110px 10px;
  background-color: #fff;
  color: #333;
  position: relative;
  margin-top: 1px;
  margin-left: -5px;
}

.pdf-header {
  position: absolute;
  top: 1cm;
  left: 2.3cm;
  right: 8cm;
  border-bottom: 100px;
  margin-bottom: 10%;
}

.pdf-footer {
  bottom: 0.5cm;
  height: 3cm;
  left: 1cm;
  right: 1cm;
  position: absolute;
}

.header {
  height: 125px;
  
}
.footer {
  height: 120px;
}

.pdf-body {
 
    position: absolute;
    top: 1.8in;
    bottom: 1cm;
    left: 0.5in;
    right: 2.5in;
    padding:.6em;
    
}



.size-a4 {
  width: 27.9cm;
  height: 11.7in;

}

.size-letter {
  width: 11.5in;
  height: 11in;
}

.size-executive {
  width: 122.25in;
  height: 10.5in;
}

.company-logo {
  font-size: 30px;
  font-weight: bold;
  color: #3aabf0;
}

.signature {
  padding-top: 0.5in;
}
