.pequenio:valid {
  width: 100px; /* Estilo para inputs con 1 o más caracteres */
}

.pequenio:valid + label {
  display: none; /* Ocultar etiqueta cuando el input tiene 1 o más caracteres */
}

.pequenio:invalid {
  width: 40px; /* Estilo para inputs vacíos */
}

.pequenio:invalid + label {
  display: inline; /* Mostrar etiqueta cuando el input está vacío */
}

.grande {
  width: 100%; /* Ancho inicial */
  transition: width 0.3s; /* Transición suave al expandirse */
}

.grande.expandir {
  width: calc(100% + 90px); /* Ancho al expandirse en un colspan de 10 */
}

.tabla {
   
    font-family: "DejaVu Sans", "Arial", sans-serif;
}

.tabla th {
    background-color: rgb(236, 236, 236);
    font:bold 10pt arial;
    border: 1px solid black;
}
.tabla td {
  border: 1px solid black;
  font: 10pt arial;
}

.tabla select {
    width: 10%;
    box-sizing: border-box;
    /* padding: 3px; */
}

.btn-container {
  text-align: center;
  margin-top: 2px;
}
.imagenes{
  width: 100%;
}
.imagenes2{
  width: 90%;
}

.sinBorde td {border: 0; border-bottom:10px solid #000}
